@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero-title{
    font-size: 36px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
  .hero{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-tab.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tab@2x.jpg);
  }
}
}

@media screen and (min-width: 1158px) {
    .hero{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero.jpg);
  }
}
  .container {
    max-width: 1158px;
  }
  .hero-title{
    font-size: 48px;}
    .hero {
        padding: 188px 0;
    }

}
